yum:
  ImageMagick: []
  ImageMagick-devel: []
commands:
  01-wget:
    command: wget -O /tmp/ffmpeg.tar.gz http://ffmpeg.gusari.org/static/64bit/ffmpeg.static.64bit.2014-07-16.tar.gz
  02-mkdir:
    command: if [ ! -d /opt/ffmpeg ] ; then mkdir -p /opt/ffmpeg; fi
  03-tar:
    cwd: /tmp
    command: tar -xzf ffmpeg.tar.gz -C /opt/ffmpeg
  04-ln:
    command: if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -s /opt/ffmpeg/ffmpeg /usr/bin/ffmpeg; fi
  05-ln:
    command: if [[ ! -f /usr/bin/ffprobe ]] ; then ln -s /opt/ffmpeg/ffprobe /usr/bin/ffprobe; fi
  06-pecl:
    command: if [ `pecl list | grep imagick` ] ; then pecl install -f imagick; fi
  07-wget:
   command: wget -O /usr/local/src/GraphicsMagick-1.3.20.tar.gz http://download.sourceforge.net/graphicsmagick/GraphicsMagick-1.3.20.tar.gz
  08-tar:
   cwd: /usr/local/src
   command: tar -xzvf GraphicsMagick-1.3.20.tar.gz
  09-configure:
   cwd: /usr/local/src/GraphicsMagick-1.3.20
   command: ./configure --enable-shared
  10-make:
   cwd: /usr/local/src/GraphicsMagick-1.3.20
   command: make
  11-install:
    cwd: /usr/local/src/GraphicsMagick-1.3.20
    command: make install
  12-ln:
    command: if [[ ! -f /usr/local/graphicsmagick ]]; then ln -s graphicsmagick-1.3.20 /usr/local/graphicsmagick
  13-pecl:
    command: if [ `pecl list | grep gmagick-1.0.8b2` ] ; pecl install gmagick-1.0.8b2; fi
  

  